

<%= image_tag("picture/book.jpg") %>

<%= will_paginate @articles %>

<% @articles.each do |i| %>
<div class="card">
  <div class="card-header">
    By <%= i.user.username %>
  </div>

  <div class="card-body">
    <h5 class="card-title">Title:<%= i.title %></h5>
    <p class="card-text">Description:<%= i.description %></p>
    <%= link_to 'Delete', article_path(i.id),method: :delete,class: "btn btn-outline-danger" %>
  </div>
  
</div>
<% end %>











